.about
  .swiper-container
    min-height: 100vh
    position: relative
    .swiper-wrapper
      .swiper-slide
        position: relative
        > img
          width: 100%
          height: 100%
          object-fit: cover
        .absolute_background_slider
          position: absolute
          left: 0
          right: 0
          top: 0
          margin: 0 auto
          width: 100%
          height: 100%
          display: flex
          flex-direction: column
          justify-content: space-between
          .content
            background: $swiper_pag_back
            width: 100%
            opacity: 1
            height: calc((100% - 59px))
            transition: all .75s ease
            position: absolute
            left: 0
            right: 0
            bottom: 59px
            display: flex
            flex-direction: column
            justify-content: flex-end
            padding-bottom: 10px
            .content_title
              +h-m-20
              color: $white
              margin-bottom: 15px
            .content_info
              +h-l-19
              color: $white
            &.show
              height: 0
              opacity: 0
              width: 100%
          button
            margin-top: auto
            bottom: 0
            z-index: 8888
            min-height: 59px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            grid-gap: 6.5px
            background: $swiper_pag_back
            cursor: pointer
            outline: none
            span
              opacity: 0
              +h-l-15
              letter-spacing: 0.1em
              color: $white
              transition: all .3s 
            img
              transition: all .9s 
            &.rotate
              img
                transform: rotate(180deg)
              span
                opacity: 1


    .swiper-pagination
      display: none
      height: 100%
      width: 16px
      left: unset
      top: 0
      bottom: unset
      flex-direction: column
      grid-gap: 16px
      align-items: flex-end
      justify-content: center
      .swiper-pagination-bullet
        margin: 0
        width: 16px
        height: 16px
        background: $white
        position: relative
        &.swiper-pagination-bullet-active::after
          content: ''
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          width: 10px
          height: 10px
          background: $swiper_pagination
          border-radius: 50%
    
      &.show
        display: flex
        
    .about_absolute_container
      position: absolute
      margin: 0 auto