.basket
  padding-bottom: 82px

  .breadcrumps_container
    position: absolute
    left: 0
    right: 0
    top: 0
    margin: 0 auto
    .breadcrumps
      position: relative
      left: unset
      top: unset

  header
    background: $landing_gradient
  .basket_container
    padding-top: 205px
    max-width: 1440px
    margin: 0 auto
    .basket_box
      display: flex
      flex-direction: column
      grid-gap: 107px
      .basket-single
        display: flex
        grid-gap: 29px
        .basket_img
          min-width: 311px
          min-height: 364px
          border: 0.3px solid $basket_img_bor
          border-radius: 2px
          background: $basket_img_back
          +flex_2
        .basket_content_box
          min-width: 335px
          max-width: 400px
          .basket_content_title
            +flex_1
            width: max-content
            grid-gap: 29px
            width: 100%
            .title
              +h-b
              font-size: 22px
              line-height: 27px
              color: $color_basket
              word-break: break-word
            .money_price
              +h-m
              font-size: 22px
              line-height: 27px
              letter-spacing: 0.02em
              color: $color_basket
              +flex_1
              img
                margin-left: 9px
          
          .basket_operation
            .basket_count_box
              display: flex
              grid-gap: 3px
              margin-top: 60px
              button
                font-family: Arial
                font-size: 24px
                color: rgba(64, 68, 104, 0.65)
                width: 48px
                height: 46px
                background: none
                cursor: pointer
                outline: none
                +flex_2
                border: 0.3px solid $basket_btn_bor
              
              input
                border: 0.3px solid $basket_btn_bor
                height: 46px
                width: 95px
                text-align: center
                font-family: Arial
                font-size: 20px
                line-height: 23px
                color: rgba(64, 68, 104, 0.65)

            .basket_color_box
              display: flex
              grid-gap: 6px
              margin-top: 8px
              .basket_body
                opacity: 0
                visibility: hidden
                display: none
                width: 0
                transition: all .3s
                &.opened
                  width: max-content
                  opacity: 1
                  visibility: visible
                  display: flex
                  grid-gap: 6px
              .basket_same_color_box
                cursor: pointer
                min-width: 48px
                height: 54px
            
            .basket_size_box
              display: flex
              grid-gap: 6px
              margin: 16px 0
              .basket_body
                opacity: 0
                visibility: hidden
                display: none
                width: 0
                transition: all .3s
                &.opened
                  width: max-content
                  opacity: 1
                  visibility: visible
                  display: flex
                  grid-gap: 6px

              .basket_same_size_box
                cursor: pointer
                +flex_2
                background: $white
                max-width: 102px
                padding: 0 4px
                min-width: 65px
                height: 50px
                border: 0.3px solid $basket_size_box
                font-family: Arial
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 69.49%
                color: rgba(64, 68, 104, 0.65)
              
              .basket_right_btn
                height: 50px

              
            button.basket_right_btn
              width: 48px
              height: 54px
              +flex_2
              background: none
              outline: none
              cursor: pointer
              border: 0.2px solid $basket_size_box
              img
                  transition: all .3s
              &.rotate
                img
                  transform: rotate(180deg)

            button.delete
              cursor: pointer
              background: none
              outline: none
              border: none
    
    .right_fixed_total_container
      position: fixed
      top: 35vh
      right: 12px
      +flex_2
      flex-direction: column
      width: 505px
      min-height: 239px
      background: $basket_img_back
      box-shadow: 0px 4px 4px rgba(6, 30, 71, 0.05)
      border-radius: 2px
      padding: 0 16px
      scroll-behavior: smooth
      
      &.not_fixed
        position: absolute
        top: unset
        bottom: 0
        -webkit-transition: all 0.5s ease
        -moz-transition: all 0.5s ease
        -o-transition: all 0.5s ease
        transition: all 0.5s ease
      .title_total_box
        +flex_2
        grid-gap: 19px
        .heading
          +h-r
          color: $pay_blue
          font-size: 25px
          line-height: 30px
        p
          +flex_1
          font-family: Arial
          font-style: normal
          font-weight: normal
          font-size: 25px
          line-height: 29px
          letter-spacing: 0.02em
          color: $pay_blue
          img
            margin-left: 6px
      
      .pay_btn
        width: 310px
        height: 61px
        background: $pay_fix_blue
        border-radius: 2px
        +flex-2
        +h-l-20
        color: $white
        cursor: pointer
        margin-top: 40px


.similar_container
  text-align: center

  .similar_title
    +h-r-20
    letter-spacing: 0.13em
    color: rgba(64, 68, 104, 0.7)
    margin-bottom: 100px
  .similiar_box
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 95px 20px
    .similiar_single
      display: flex
      grid-gap: 23px
      flex-direction: column
      .similiar_content_title
        display: flex
        align-items: center
        grid-gap: 19px
        p
          +h-r-20
          color: rgba(6, 30, 71, 0.8)
          word-break: break-word
        span
          +flex_2
          align-items: baseline
          grid-gap: 5px
          +h-l-22
          color: $blue
          img
            width: 15px
      
      .sim_single_img
        min-height: 364px
        background: $basket_img_back
        border: 0.3px solid $basket_img_back
        border-radius: 2px
        +flex_2
        img
          max-width: 200px
          max-height: 200px
