.contact
  background: $landing_gradient
  min-height: 100vh

  .contact_inner
    padding-top: 169px
    .breadcrumps
      .old_page
        color: $white
        &::before
          background-color: $white
      
      img
        filter: brightness(0) invert(1)
    .contact_title
      +h-l-30
      color: $white
      letter-spacing: 0.02em
    .contact_form_box
      margin: 60px 0 220px
      display: grid
      grid-template-columns: 56% auto
      grid-gap: 26px
      form
        display: grid
        grid-row-gap: 26px
        
        input ,textarea
          background: none
          outline: none
          border: 0.5px solid $white
          color: $white
          +h-l-15
        input
          border-radius: 4px
          padding: 0 17px
          height: 64px
          &::placeholder
            +h-t-20
            letter-spacing: 0.01em
            color: $placeholder
        .country_input
          display: grid
          grid-template-columns: 130px 1fr
          grid-gap: 22px
          input
            height: 100%
          .country_flag
            position: relative
            border: 0.5px solid $white
            border-radius: 4px
            .flag_img
              width: 30px
              height: 15px
            .country_text
              position: relative
              +flex_2
              grid-gap: 5px
              height: 64px
              color: $white
              +h-l-15
              padding: 0 25px 0 20px
              cursor: pointer

              &::after
                content: ''
                position: absolute
                right: 10px
                top: 26px
                width: 6px
                height: 6px
                border-right: .5px solid $border_flag
                border-bottom: .5px solid $border_flag
                transform: rotate(45deg)
                transition: all .3s

              &.rotate
                &::after
                  transform: rotate(225deg)

            .country_absolute_flags
              position: absolute
              width: 100%
              left: 0
              top: 74px
              background: $white
              border-radius: 4px
              color: $blue
              +h-l-15
              display: grid
              opacity: 0
              visibility: hidden
              transition: all .3s
              .flag_box
                +flex_2
                grid-gap: 5px
                padding: 7px 0
                position: relative
                cursor: pointer
                &:not(:last-child)::before
                  position: absolute
                  content: ''
                  left: 0
                  right: 0
                  margin: 0 auto
                  height: .5px
                  width: 100%
                  bottom: 0
                  background: $blue
              &.show
                opacity: 1
                visibility: visible
        textarea
          border-radius: 6px
          padding: 21px 18px
          height: 260px
          resize: none
          &::placeholder
            +h-t-20
            letter-spacing: 0.01em
            color: $placeholder
        button
          background: $submit_back
          color: $submit_blue
          +h-m-15
          letter-spacing: 0.09em
          border-radius: 4px
          +flex_2
          height: 64px
          cursor: pointer
    
    .contact_info
      +flex_1
      margin-bottom: 150px
      .contact_single
        display: grid
        grid-template-columns: auto 1fr
        grid-gap: 34px
        align-items: flex-end
        .contact_desc
          +h-l-14
          line-height: 16px
          color: $white
          display: grid
          width: 192px
        &:first-child
          .contact_desc
            grid-gap: 6px
        &:nth-of-type(2)
          .contact_desc
            grid-template-columns: 1fr 1fr
            grid-gap: 6px 19px
            min-width: 192px
            width: revert
          