section.error 
  .error_landing
    position: relative
    width: 100%
    min-height: 100vh
    background: $landing_gradient
    +flex_2
    .error_landing_inner
      display: flex
      align-items: center
      >p
        +h-ul
        font-size: 288px
        line-height: 136.5%
        letter-spacing: 0.01em
        color: $white
      
      .not_found_box
        margin-top: 40px
        width: 360px
        p
          +h-t
          font-size: 40px
          line-height: 136.5%
          letter-spacing: 0.01em
          color: $error_page_red
        
        a
          +h-t
          font-size: 24px
          line-height: 136.5%
          letter-spacing: 0.01em
          color: $white
          display: flex
          align-items: center
          margin-left: 30px
          img
            margin: 5px 11px 0 0