footer
  margin-top: auto
  .footer_max_container
    background: $white
    .footer_container
      padding: 57px 0
      +flex_1
      .footer_left
        display: flex
        grid-gap: 50px
        ul
          +flex_1
          grid-column-gap: 50px
          li
            a
              +h-r-18
              color: $blue
      
      .footer_right
        width: 100%
        +flex_1
        .footer_socials
          +flex_1
          grid-gap: 22px
          margin-left: 50px
          margin-right: auto
        .info_footer_right
          display: grid
          grid-template-columns: 1fr 1fr
          grid-gap: 10px 42px
          p
            &:first-child
              color: $blue
              +h-m-13
            +h-l-13
            color: $blue

section.index, section.projects , section.reviews , section.basket , section.pay 
  footer
    .footer_max_container
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04)