.galery
  .galery_main_container 
    background: $galery_back
    height: 100vh
    display: grid
    grid-template-rows: 70% 30%
    .swiper-container
      position: relative

      &.gallery-top 
        width: 100%
        height: 100%
        .swiper-slide
          height: 100%
          .swiper-slide-container
            height: 100%
            padding-top: 60px
            img
              width: 100%
              height: 100%
              max-height: 353px

      &.gallery-thumbs 
        box-sizing: border-box
        padding: 10px 0

        .swiper-slide 
          height: 100%
          background: $galery_back
          border-radius: 2px
          padding: 2rem 
          img
            width: 100%
            height: 100%

        .swiper-slide-active 
          opacity: 1
          background: none

      .swiper-wrapper
        .swiper-slide
          .swiper-slide-container 
            height: 100%
            max-width: 1000px
            margin: auto
            display: -webkit-box
            display: -ms-flexbox
            display: -webkit-flex
            display: flex
            -webkit-box-pack: center
            -ms-flex-pack: center
            -webkit-justify-content: center
            justify-content: center
            -webkit-box-align: center
            -ms-flex-align: center
            -webkit-align-items: center
            align-items: center
