.index , .about , .galery , .search , .error
  header
    position: absolute
    z-index: 222

.header_right
  +flex_1
  grid-gap: 31px

  div.search-bar 
    +flex_2
    position: relative
    min-width: 20px
    form.search 
      display: inline-flex
      max-width: 0
      overflow: hidden
      transition: .5s ease all
      height: 50px
      position: relative
      &.open 
        max-width: 630px
        


      input.search 
        margin: 0 0.4em
        border: none
        background: none
        border: 1px solid  $white
        box-sizing: border-box
        border-radius: 33px
        +h-r-18
        color: $white
        min-width: 10em
        width: 70vw
        max-width: 520px
        padding-left: 45px
        &::placeholder
          +h-r-18
          color: $white
        &:focus 
          outline: none

      .btn 
        display: inline-block
        background: $white
        color: #0B285B
        border-radius: 0.25em
        border-radius: 6px
        min-width: 80px
        +h-l-20
        transition: all .3s

    span.search-icon 
      display: inline-block
      cursor: pointer
      position: absolute
      transition: 0.5s ease all

      &.left
        position: absolute
        z-index: 2
        left: 20px

header
  width: 100%
  padding: 26px 0 16px
  .header_container
    +flex_1
    width: 100%
    .logo
      img
        width: 61px
    ul
      +flex_1
      grid-gap: 90px
      li
        a
          +h-l-19
          color: $white
      
      &.none
        display: none
    


          
    
    .button_container
      display: none
      width: 23px
      height: 17px
      cursor: pointer
      transition: opacity .25s ease
      flex-direction: column
      justify-content: space-between
      
      span 
        background: $white
        height: 2px
        width: 100%
        transition:  all .35s ease
        cursor: pointer
        border-radius: 2px

.overlay 
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 1
  visibility: hidden
  transition: opacity .35s, visibility .35s, width .35s
  z-index: 250
  .header_right
    opacity: 0
    width: 0
    visibility: hidden
    transition: all .3s


  .overlay_header
    width: 540px
    height: 52px
    margin: auto
    left: 0
    right: 0
    position: absolute
    top: 30px
    display: flex
    align-items: center
    
  .button_container
    opacity: 0
    transition: all .5s 
    width: 23px
    height: 19px
    cursor: pointer
    transition: opacity .25s ease
    flex-direction: column
    justify-content: space-between
    margin-left: auto

    &.active 
      .first 
        transform: translateY(10px) translateX(0) rotate(45deg)
      
      .second 
        opacity: 0
      
      .third 
        transform: translateY(-7px) translateX(0) rotate(-45deg)
    
    span 
      background: $white
      height: 2px
      width: 100%
      transition:  all .35s ease
      cursor: pointer
      border-radius: 2px
  
  &:before 
    content: ''
    left: -105%
    top: 0
    width: 100%
    height: 100%
    position: absolute
    background: $landing_gradient
    transition: left .30s ease

  &.open 
    visibility: visible
    height: 100%
    
    &:before 
      left: 0
    
    
    &:after 
      right: 0
      
    .header_right
      opacity: 1
      width: max-content
      min-width: 221px
      visibility: visible
    
      a
        &.link_mobile
          display: none 
     
    .button_container
      opacity: 1
      display: flex
      margin-bottom: 5px
      &.active 
        .first 
          transform: translateY(10px) translateX(0) rotate(45deg)
        
        .second 
          opacity: 0
        
        .third 
          transform: translateY(-7px) translateX(0) rotate(-45deg)
    
    li 
      animation: fadeInRight .5s ease forwards
      animation-delay: .35s
      
      &:nth-of-type(2) 
        animation-delay: .45s
      
      &:nth-of-type(3) 
        animation-delay: .55s
      
      &:nth-of-type(4) 
        animation-delay: .65s
      
      &:nth-of-type(5) 
        animation-delay: .75s
  
  nav
    position: relative
    height: 225px
    top: 50%
    transform: translateY(-50%)
    +h-l-16
    color: $white
    text-align: center
    z-index: 100
  
  ul 
    list-style: none
    padding: 0
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    height: 100% 
    
    li 
      display: block
      position: relative
      opacity: 0
      
      a 
        display: block
        position: relative
        color: $white
        text-decoration: none
        overflow: hidden
        
        &:hover:after,
         &:focus:after,
         &:active:after 
           width: 100%
         
        
        &:after 
          content: ''
          position: absolute
          bottom: 0
          left: 50%
          width: 0%
          transform: translateX(-50%)
          height: 3px
          background: $white
          transition: .35s
        



@keyframes fadeInRight 
  0% 
    opacity: 0
    left: 20%
  
  100% 
    opacity: 1
    left: 0

@keyframes fadeInBottom
  0% 
    opacity: 0
    bottom: 20%
  
  100% 
    opacity: 1
    bottom: 0
  
      