.pay
  padding-bottom: 82px
  min-height: 100vh
  display: flex
  flex-direction: column
  header
    background: $landing_gradient
  footer
    margin-top: auto
  .pay_container
    .pay_form_box
      max-width: 530px
      position: relative
      margin: 20vh auto 7vh
      .form_common_price
        width: 100%
        word-break: break-word
        display: flex
        align-items: baseline
        grid-gap: 19px
        position: absolute
        top: -65px
        left: 0
        p
          +h-r
          font-size: 25px
          line-height: 30px
          color: $pay_blue
        div
          display: flex
          align-items: baseline
          grid-gap: 5px
          +arial_default
          font-size: 25px
          line-height: 29px
          letter-spacing: 0.02em
          color: $pay_blue

      form
        display: grid
        grid-gap: 13px
        .select_box
          display: grid
          grid-template-columns: 1fr 1fr
          grid-gap: 6px
        .number_box
          display: grid
          grid-template-columns: 104px 1fr
          grid-gap: 8px
        .pay_button_container
          margin-top: 89px
          .title_pay_container
            +h-t
            font-size: 20px
            letter-spacing: 0.01em
            color: $pay_blue
            text-align: center
            margin-bottom: 39px
          .pay_btn_box
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 6px
            button
              width: 100%
              height: 64px
              background: rgba(193, 196, 207, 0.9)
              border-radius: 4px
              +flex_2
              +h-b-18
              color: $white
              cursor: pointer
              transition: all .3s
              &:hover
                background: rgba(14, 39, 83, 0.4)
        .form-group
          margin-bottom: 0
          position: relative
          input
            height: 64px
            width: 100%
            padding: 0 15px
            border: 0.5px solid $pay_blue
            border-radius: 4px
            &.error
              border: 0.5px solid $error_red
              &.error
                &::placeholder
                  color: $error_red
            &::placeholder
              +h-t
              font-size: 20px
              letter-spacing: 0.01em
              color: $pay_blue
              position: relative

          textarea
            width: 100%
            height: 151px
            padding: 20px
            border: 0.5px solid $pay_blue
            border-radius: 4px
            resize: none
            &.error
              border: 0.5px solid $error_red
              &.error
                &::placeholder
                  color: $error_red
            &::placeholder
              +h-t
              font-size: 20px
              letter-spacing: 0.01em
              color: $pay_blue
          
          label.error
            color: $error_red
            +h-m
            font-size: 13px
            line-height: 16px
            letter-spacing: 0.01em
            margin: 5px 0 0 

          &::after 
            content: attr(data-required)
            position: absolute
            right: 28px
            top: 30px
            font-size: 15px
            font-family: Fira Sans
            font-style: normal
            font-weight: 200
            font-size: 16px
            line-height: 10px
            letter-spacing: 0.01em
            width: 9px
            color: $pay_blue
            height: 7px

          &.red_group::after
            color: $error_red
          
          .nice-select
            height: 64px
            width: 100%
            padding: 0 15px
            border: 0.5px solid $pay_blue
            border-radius: 4px
            &.open
              span.current
                &::after
                  transform: rotate(180deg)
            span.current
              +h-t
              font-size: 20px
              letter-spacing: 0.01em
              color: $blue
              position: relative
              &::after
                position: absolute
                content: ''
                right: 0
                background-image: url('../img/nice_select_down.svg')
                background-position: center
                background-size: cover
                width: 8px
                height: 8px
                right: -18px
                top: 3px
                transition: all .3s
            &.error
              border: 0.5px solid $error_red
              span.current
                color: $pay_blue
            
            li
              +h-r-18
              display: flex
              align-items: center


  .modal
    overflow-y: hidden
    padding-right: 0 !important
    .modal-dialog
      max-width: 531px
      height: 100%
      +flex_2
      padding: 0 35px
      flex-direction: column

      .modal-content
        background: $white
        border-radius: 6px
        height: 317px
        +flex_2

        .success_content
          +flex_3
          align-items: center
          p
            +arial_default
            font-size: 30px
            line-height: 34px
            color: $pop_success
            margin-bottom: 13px
          span
            font-size: 26px
            line-height: 30px
            color: rgba(62, 64, 62, 0.5)
        
        .unsuccess_content
          p
            font-family: Arial
            font-style: normal
            font-weight: normal
            font-size: 30px
            line-height: 34px
            color: $pop_not_success