section
  &.project_inner
    header
      background: $landing_gradient
    
    .project_inner_container
      padding-top: 150px
      .similar_container
        margin: 100px 0 65px
      .project_top_container
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 20px
        .left_project_box
          background: $gray_project
          border: 0.5px solid #C4C4C4
          border-radius: 2px
          padding: 55px 0
          +flex_2
          img
            max-width: 272px
            max-height: 313px
        
        .right_project_box
          padding: 35px 46px 23px
          background: $gray_project
          border-radius: 2px
          display: flex
          flex-direction: column
          grid-gap: 35px
          .right_heading
            +flex_1
            p
              +h-b
              font-size: 25px
              line-height: 25px
              color: $blue
              &.price_project
                display: flex
                align-items: center
                grid-gap: 4px
                img
                  margin-top: 5px

          p
            &.same_project_title
              +h-b-18
              line-height: 18px
              color: $blue
              margin-bottom: 9px
            
            &.about_content
              +h-m
              font-size: 14px
              line-height: 20px
              letter-spacing: 0.03em
              color: rgba(6, 30, 71, 0.8)
          
          .colors_box
            display: flex
            align-items: center
            grid-gap: 5px
            flex-wrap: wrap
            .color_link
              width: 49px
              height: 30px
              border-radius: 2px
              transition: all .1s
              &.active
                border: 0.5px solid #061E47
          
          .size_box
            display: flex
            grid-gap: 5px
            .size_link
              +flex_2
              height: 30px
              min-width: 61px
              padding: 0 7px
              +g-r
              font-size: 13px
              line-height: 13px
              border-radius: 2px
              border: .5px solid $blue
              transition: all .3s
              color: $blue

              &.active
                background-color: $blue
                color: $white

              &:hover
                background-color: $blue
                color: $white
          
          .about_btns
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 4px
            button
              height: 31px
              outline: none
              cursor: pointer
              +flex_2
              +h-r
              font-size: 13px
              line-height: 15px
              background-color: $blue
              color: $white
              transition: all .5s
              &:hover
                background-color: $submit_blue !important
              &[data-toggle="modal"]
                color: $blue
                background-color: transparent
                border: .5px solid $blue
                &:hover
                  color: $white