section.projects
  padding-bottom: 50px
  header
    background: $landing_gradient
    
.projects_container
  position: relative
  
  
  .projects_box
    padding-top: 202px
    position: relative
    &::before 
      content: '2 .column.size-1of2'
    .column 
      float: left
      &:not(:nth-child(2n))
        margin-right: 20px
      .grid-item:not(:last-child)
        margin-bottom: 20px

    .size-1of2
        width: calc((100% - 20px) / 2 ) 

    .size-1of1
        width: 100%
    
    .project
      .project_main
        padding: 60px 0
        +flex_2
        flex-direction: column
        background: $gray_project
        border-radius: 2px
        > a
          img
            max-height: 207px
            max-width: 108px

.pagination_project
  +flex_2
  display: inline-flex
  grid-gap: 30px
  margin: 100px 0
  width: 100%
  a
    +flex_2
    padding: 7.5px 13.5px
    background: $gray_project
    +g-t-18
    color: $blue

    &.active
      border: 0.5px solid $blue

.modal_basket
  &.fade
    .modal-dialog
      right: -355px
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out
      -moz-transition: opacity 0.3s linear, right 0.3s ease-out
      -o-transition: opacity 0.3s linear, right 0.3s ease-out
      transition: opacity 0.3s linear, right 0.3s ease-out

    &.show
      .modal-dialog
        right: 0

  .modal-dialog
    position: fixed
    margin: auto
    width: 355px
    height: 100%
    -webkit-transform: translate3d(0%, 0, 0)
        -ms-transform: translate3d(0%, 0, 0)
          -o-transform: translate3d(0%, 0, 0)
            transform: translate3d(0%, 0, 0)
    .modal-content
      height: 100%
      .added_project_box
        width: 355px
        max-height: 100%
        background: #FFFFFF
        box-shadow: 0px 4px 5px rgba(69, 76, 94, 0.1)
        padding-top: 6vh
        right: 0
        z-index: 2
        border-radius: 6px
        display: flex
        flex-direction: column
        
        .esc
          position: absolute
          left: 15px
          top: 17.5px
          background: none
          outline: none
          border: none
          cursor: pointer
        
        .add_center_box
          display: flex
          flex-direction: column
          grid-gap: 20px
          height: 100vh
          overflow-y: auto
          .added_project
            +flex_2
            grid-gap: 35px
            padding-bottom: 29px
            border-bottom: 0.5px solid #E0E0E0
            .right_added_content
              .title
                +h-l-18
                color: $blue
              
              .added_price
                display: flex
                align-items: center
                grid-gap: 8px
                +arial_default
                font-size: 15px
                line-height: 17px
                letter-spacing: 0.02em
                color: #404468
              
              .delete
                background: none
                outline: none
                border: none
                margin-top: 18px
                cursor: pointer
                img
                  width: 22px
                  height: 22px
            
        .go_basket_box
          padding: 20px 0
          +flex_2
          margin-top: auto
          a.go_basket
            width: 257px
            height: 31px
            border: 0.2px solid $blue
            box-sizing: border-box
            border-radius: 2px
            +h-r-13
            color: $blue
            +flex_2
            transition: all .3s
            &:hover
              background-color: $blue
              color: $white

        .mobile_added_text
          display: none
          +h-l-22
          color: $modal_green