@media (min-width: 1260px) 
  .container
    max-width: 1240px
  .about 
    .swiper-pagination
      right: calc((100% - 1240px) / 2)

  .footer_max_container
    max-width: 1310px
    margin: auto

@media (max-width: 1260px)
    section.index
      .index_montaj
        .montaj_img
          img
            width: 600px
      
      .reviews_container
        .review_single
          .review_swiper
            .swiper-slide
              .rev_img
                max-width: 900px
                
            .arrow_swiper
              &.left_arrow
                left: calc( (100% - 1140px) / 2)
              &.right_arrow
                right: calc( ((100% - 1140px) / 2) + (100% - 900px + 2px))

    .about 
      .swiper-pagination
        right: calc((100% - 1140px) / 2)

@media (max-width: 1200px)
    section.index
      padding-bottom: 80px
      
      .reviews_container
        padding-top: 50px
        .review_single
          margin: 40px 0 80px
          .review_swiper
            margin: unset
            z-index: 1
            height: max-content
            .swiper-slide
              .rev_img
                max-width: 800px
                &::after
                    display: none
                img
                  width: 100%

              .container
                position: absolute
                margin: 0 auto
                width: 100%
                left: 0
                right: 0
                height: 250px
                top: 0
                z-index: 2
                &.first_cont
                  position: relative
                .stars_box
                  max-width: 500px
                  height: 250px
                  .company_name
                    +h-m-18
                  
                  .company_info
                    +h-l-18
                    line-height: 24px
                    margin: 15px 0
                    -webkit-line-clamp: 3
                    height: 78px

            .arrow_swiper
              width: 59px
              height: 53px 
              bottom: 48px
              top: unset
              &.left_arrow
                left: calc( (100% - 960px) / 2) !important
              &.right_arrow
                right: calc( ((100% - 960px) / 2) + (100% - 800px + 2px)) !important

      .index_projects
        margin: 75px auto 0
        .project_swiper 
          .swiper-slide 
            .swiper-slide-inner
              padding-top: 45px
              grid-gap: 25px
              .color_project
                right: -200px 
              .main_img
                height: 400px
                
        .index_pro_title_container
          margin-top: 45px
      
      .index_electric
        margin-top: 325px
        padding: 80px 0
        .index_electric_container 
          .electric_box
            .electric_inner_box
              button
                width: 95px
                height: 95px
                div
                  font-size: 18px
                  line-height: 22px 
              .electric_body
                margin-top: 18px
                .electric_title
                  font-size: 17px
                  line-height: 21px
                .electric_info
                  font-size: 15px
                  line-height: 18px
                  margin-bottom: 25px
            &.electric_left 
              .img_electric
                margin-top: -326px
                img
                  height: 500px
            &.electric_right
              margin-top: 250px
              .img_electric
                img
                  height: 500px
                  margin-top: 128px

      .index_montaj
        padding: 400px 0 295px
        .montaj_img
          img
            width: 480px
        .container 
          .montaj_inner_box
            max-width: 500px
            .montaj_title
              font-size: 17px
              line-height: 21px
            .montaj_body
              max-width: 90%
              p
                margin: 30px 0

    .swiper-container 
      .arrow_swiper
        &.right_arrow
          right: 30px !important
        &.left_arrow
          left: 30px !important

    .index_container_title
      font-size: 21px !important
      line-height: 25px !important
    
    .index_about 
      .index_about_container
        padding-top: 140px !important
        .about_text
          font-size: 17px !important
          line-height: 23px !important
        .index_about_swiper
          margin-top: 70px !important
          .swiper-slide
            height: 450px !important
            &.swiper-slide-active
               .swiper_img_box 
                 img
                   transform: scale(1.2) !important
            .swiper_img_box 
              img
                width: 250px
                height: 250px
                object-fit: contain

    .index_landing 
      .container 
        .index_landing_inner 
          .landing_right_gif 
            img
              max-width: 500px
              height: auto !important
          .landing_left_info 
            h1
              font-size: 45px !important
              line-height: 53px !important

    .basket 
      padding-bottom: 55px
      .basket_container
        padding-top: 120px
        .right_fixed_total_container
          width: 400px
          min-height: 180px
          .pay_btn
            width: 250px
            height: 50px
            margin-top: 25px
        .basket_box
          grid-gap: 80px
          .basket-single 
            .basket_img
              min-width: 250px
              min-height: 320px
            .basket_content_box
              min-width: 335px
              max-width: 400px
            .basket_content_box 
              .basket_content_title
                grid-gap: 22px
              .basket_operation
                .basket_count_box
                  margin-top: 40px
                  input
                    height: 40px
                    width: 75px
                  button
                    width: 40px
                    height: 40px 
                .basket_color_box 
                  .basket_same_color_box
                    min-width: 40px
                    height: 40px
                .basket_size_box 
                  .basket_same_size_box
                    max-width: 102px
                    padding: 0 4px
                    min-width: 65px
                    height: 40px
                button.basket_right_btn
                  width: 40px
                  height: 40px !important

    .similar_container 
      .similar_title
        margin-bottom: 75px
      .similiar_box
        grid-gap: 90px 20px
        .similiar_single 
          .sim_single_img
            min-height: 300px
    
    .pay 
        padding-bottom: 60px

    section.search
      .search_landing
        height: 370px
        .container , .row
          .search_landing_inner
            p
              font-size: 22px
              line-height: 26px
              margin-bottom: 45px

      .projects_container
        .result_search
          +h-l-22
          margin-top: 25px
        .projects_box
          padding-top: 70px

    .about 
      .swiper-pagination
        right: calc((100% - 960px) / 2)
    
    header
      .header_container
        ul
          grid-gap: 60px
          li
            a
              +h-l
              font-size: 17px
              line-height: 20px
    
    .header_right
      grid-gap: 20px
      div.search-bar
        form.search
          input.search
            max-width: 450px
    
    footer
      .footer_max_container
        .footer_container
          .footer_left
            ul
              grid-gap: 30px
          .footer_right
            .info_footer_right
              grid-gap: 10px 25px

    .projects_container
      .projects_box
        padding-top: 150px
        .project
          .project_main
            padding: 85px 0 20px
            button
                margin-top: 40px
          .project_bottom.show
            padding: 30px

    section.contact
      .contact_inner
        padding-top: 120px
        .contact_title
          font-size: 27px
          line-height: 30px
        .contact_form_box
          margin: 50px 0 120px
          form
            grid-gap: 20px
            input
              height: 56px
            .country_input
              .country_flag
                .country_text
                  height: 56px
            textarea
              height: 220px
            button
              height: 54px
        .contact_info
          margin-bottom: 120px
          .contact_single
            grid-gap: 25px

    section.reviews
      padding-bottom: 30px
      .reviews_container
        padding-top: 80px
        .rewiews_title
          margin-bottom: 20px
          h1
            font-size: 48px
            line-height: 54px
          p
            font-size: 20px
            line-height: 24px
        .review_single
          margin-top: 50px
          .rev_img
            img
              max-height: 650px
          .stars_box
            min-height: 250px
            height: auto
            max-width: 350px
            padding: 10px 50px

    section.project_inner 
      .project_inner_container
        padding-top: 120px
        .similar_container
          margin: 90px 0 60px

    .pagination_project
      margin: 80px 0

@media (max-width: 991px)
    section.index
      padding-bottom: 55px

      .reviews_container
        .review_single
          margin: 30px 0 60px
          .review_swiper
            .swiper-slide
              .rev_img
                max-width: 650px
                img
                  height: 500px
                  width: 100%
                  object-fit: cover
                &::after
                    display: none
                img
                  width: 100%

              .container
                position: absolute
                margin: 0 auto
                width: 100%
                left: 0
                right: 0
                height: 250px
                top: 0
                z-index: 2
                &.first_cont
                  position: relative
                .stars_box
                  max-width: 400px
                  height: 200px
                  padding: 0 35px !important
                  .company_name
                    +h-m-18
                  
                  .company_info
                    +h-l-16
                    line-height: 20px
                    margin: 10px 0
                    -webkit-line-clamp: 3
                    height: 63px

            .arrow_swiper
              width: 59px
              height: 53px 
              bottom: 48px
              top: unset
              &.left_arrow
                left: 35px !important
              &.right_arrow
                left: calc(650px - 35px - 60px) !important

      .index_montaj
        padding: 220px 0 150px
        padding-right: calc( (100% - 720px) / 2  )
        display: flex
        .montaj_img
          position: relative
          top: unset

          img
            width: 400px
        .container 
          .montaj_inner_box
            max-width: 100%
            .montaj_title
              font-size: 15px
              line-height: 18px
              &::before
                bottom: -10px
              &::after
                top: -10px
            .montaj_body
              max-width: 100%
              p
                margin: 20px 0

      .index_electric
        margin-top: 325px
        padding: 50px 0
        .index_electric_container 
          .electric_box
            .electric_inner_box
              width: 400px
              button
                width: 80px
                height: 80px
                div
                  font-size: 14px
                  line-height: 18px 
              .electric_body
                margin-top: 15px
                .electric_title
                  font-size: 16px
                  line-height: 20px
                  margin-bottom: 9px
                .electric_info
                  font-size: 14px
                  line-height: 17px
                  margin-bottom: 22px
            &.electric_left 
              .img_electric
                margin-top: -226px
                img
                  height: 350px
            &.electric_right
              margin-top: 170px
              .img_electric
                img
                  height: 350px
                  margin-top: 120px

      .index_projects
        margin: 65px auto 0
        .project_swiper
          margin-top: 30px 
          .swiper-slide 
            .swiper-slide-inner
              padding-top: 45px
              grid-gap: 25px
              .color_project
                right: -200px 
              .main_img
                height: 350px
                
        .index_pro_title_container
          margin-top: 35px
          .elektrik_box
            .eletrik_title
              font-size: 16px
              line-height: 22px
              &::after
                bottom: -9px
                left: 0
            .elektrik_body
              margin-top: 15px
              font-size: 17px
              line-height: 21px

    .swiper-container 
      .arrow_swiper
        &.right_arrow
          right: 25px !important
        &.left_arrow
          left: 25px !important

    .index_container_title
      font-size: 17px !important
      line-height: 21px !important
    
    .index_about 
      .index_about_container
        padding-top: 75px !important
        .about_text
          font-size: 16px !important
          line-height: 20px !important
          width: 80% !important
        .index_about_swiper
          margin-top: 40px !important
          .swiper-slide
            height: 400px !important
            &.swiper-slide-active
               .swiper_img_box 
                 img
                   transform: scale(1.2) !important
            .swiper_img_box 
              img
                width: 200px
                height: 200px

    .index_landing
      max-height: 600px !important
      .arrow
        bottom: 45px !important
      .container 
        .index_landing_inner 
          .landing_right_gif
            padding-top: 0 !important
            +flex_2
            img
              max-width: 400px
          .landing_left_info 
            h1
              font-size: 36px !important
              line-height: 40px !important
            .landing_info_box
              margin: 25px 0 !important
              p
                &:first-child
                  font-size: 20px !important
                  line-height: 22px !important
  
    .basket 
      padding-bottom: 35px
      .basket_container
        padding-top: 80px
        .right_fixed_total_container
          width: 300px
          min-height: 150px
          .title_total_box 
            .heading
              font-size: 20px
              line-height: 24px
            p
              font-size: 20px
              line-height: 24px
          .pay_btn
            width: 200px
            height: 40px
            margin-top: 25px
            font-size: 18px
            line-height: 22px
        .basket_box
          grid-gap: 50px
          .basket-single 
            .basket_img
              min-width: 220px
              min-height: 300px
            .basket_content_box
              min-width: 300px
              max-width: 400px
            .basket_content_box 
              .basket_content_title
                grid-gap: 15px
                .title
                  font-size: 20px
                  line-height: 22px
              .basket_operation
                display: grid
                button.delete
                  grid-row: 1
                  margin-top: 20px
                  text-align: left
                .basket_count_box
                  margin-top: 20px
                  input
                    height: 40px
                    width: 75px
                  button
                    width: 40px
                    height: 40px 
                .basket_color_box 
                  .basket_same_color_box
                    min-width: 40px
                    height: 40px
                .basket_size_box 
                  .basket_same_size_box
                    max-width: 102px
                    padding: 0 4px
                    min-width: 65px
                    height: 40px
                button.basket_right_btn
                  width: 40px
                  height: 40px !important

    .similar_container 
      .similar_title
        margin-bottom: 55px
      .similiar_box
        grid-gap: 40px 30px
        grid-template-columns: 1fr 1fr
        .similiar_single 
          .sim_single_img
            min-height: 250px
            img
              max-width: 150px
              max-height: 150px
    
    .pay 
      padding-bottom: 50px
      .modal 
        .modal-dialog 
          .modal-content
            height: 260px
            .success_content p ,.unsuccess_content p
              font-size: 25px
              line-height: 29px
            .success_content 
              p
                margin-bottom: 8px
              span
                font-size: 24px
                line-height: 28px
      .pay_container 
        .pay_form_box
          margin: 65px auto 80px
          .form_common_price
            top: -45px
          form 
            .pay_button_container
              margin-top: 55px
    
    section.error 
      .error_landing
        height: calc(100vh - 148px)
        min-height: auto
        +flex_2
        .error_landing_inner
          margin-top: 50px
          >p
            font-size: 200px
            line-height: 210px
          .not_found_box
            width: max-content
            p
              font-size: 32px
              line-height: 36px
            
            a
              font-size: 20px
              line-height: 24px
              margin-left: 30px
              img
                margin: 5px 10px 0 0

    section.search
      .search_landing
        height: 320px
        .container , .row
          .search_landing_inner
            p
              font-size: 20px
              line-height: 22px
              margin-bottom: 40px

      .projects_container
        .result_search
          +h-l-20
          margin-top: 20px
        .projects_box
          padding-top: 60px
    
    .galery 
      .galery_main_container 
        .swiper-container 
          &.gallery-thumbs 
            .arrow_swiper
              top: unset
              bottom: 5px
          .swiper-wrapper 
            .swiper-slide 
              .swiper-slide-container
                max-width: 800px
                
    .about 
      .swiper-pagination
        right: calc((100% - 720px) / 2)
    
    header
      .header_container
        ul
          grid-gap: 0
          width: 100%
          margin: 0 30px
          li
            a
              +h-l-16
              line-height: 18px
    
    .header_right
      grid-gap: 15px
      
    footer
      .footer_max_container
        .footer_container
          flex-wrap: wrap
          grid-gap: 20px
          padding: 30px 0
          .footer_left
            margin: auto
          .footer_right
            width: 100%
            justify-content: center
            grid-gap: 20px
            .footer_socials
              margin: unset
            .info_footer_right
              grid-gap: 10px 25px

    section.projects
      padding-bottom: 30px
      
    .projects_container
      .projects_box
        padding-top: 100px
        .project
          .project_main
            padding: 65px 0 20px
            button
              margin-top: 40px
          .project_bottom.show
            padding: 25px
            .project_first_box
              grid-template-columns: 1fr
              grid-gap: 13px
              margin-bottom: 15px
            button.quit
              right: 15px
            .project_buttons_box
              padding-top: 15px
              grid-gap: 10px
            .project_tab_box.project_color
              .project_container_box
                grid-template-columns: 1fr
                grid-gap: 10px

    section.reviews
      padding-bottom: 20px
      .reviews_container
        .rewiews_title
          margin-bottom: 20px
          h1
            font-size: 42px
            line-height: 48px
          p
            font-size: 20px
            line-height: 24px
        .review_single
          margin-top: 40px
          .rev_img
            img
              max-height: 450px
              width: 600px
          .stars_box
            min-height: 200px
            height: auto
            max-width: 300px
            padding: 10px 30px

    section.contact
      .contact_inner
        padding-top: 70px
        .contact_title
          font-size: 23px
          line-height: 26px
        .contact_form_box
          margin: 30px 0 50px
          grid-template-columns: 1fr
          #map
            height: 400px
            width: 100%
          form
            grid-gap: 20px
            input
              height: 50px
            .country_input
              .country_flag
                .country_text
                  height: 50px
            textarea
              height: 180px
            button
              height: 50px
        .contact_info
          margin-bottom: 90px
          flex-wrap: wrap
          grid-gap: 30px
          justify-content: center
          .contact_single
            grid-gap: 25px

    .pagination_project
      margin: 70px 0

    section.project_inner 
      .project_inner_container
        padding-top: 90px
        .project_top_container
          grid-template-columns: 1fr
          .left_project_box
            padding: 40px 0 
            img
              max-width: 220px
              max-height: 260px
        .similar_container
          margin: 90px 0 30px

@media (max-width: 768px)
    section.index
      padding-bottom: 25px
      
      .reviews_container
        padding-top: 50px
        .review_single
          margin: 30px 0 60px
          .review_swiper
            .swiper-slide
              .rev_img
                max-width: 450px
                img
                  height: 500px
                  width: 100%
                  object-fit: cover
                &::after
                    display: none
                img
                  width: 100%

              .container
                position: absolute
                margin: 0 auto
                width: 100%
                left: 0
                right: 0
                height: 250px
                top: 0
                z-index: 2
                &.first_cont
                  position: relative
                .stars_box
                  max-width: 300px
                  height: max-content
                  padding: 15px 25px !important
                  .stars
                    font-size: 23px
                  .company_name
                    +h-m
                    font-size: 16px
                    line-height: 20px
                  
                  .company_info
                    +h-l-16
                    line-height: 18px
                    height: 56px
                    margin: 8px 0

            .arrow_swiper
              width: 45px
              height: 45px 
              bottom: 35px
              top: unset
              &.left_arrow
                left: 20px !important
              &.right_arrow
                left: calc(450px - 20px - 50px) !important

      .index_montaj
        padding: 160px 0 75px
        padding-right: calc( (100% - 540px) / 2  )
        align-items: center
        .montaj_img
          height: max-content
          img
            width: 300px
        .container 
          .montaj_inner_box
            max-width: 100%
            .montaj_title
              font-size: 14px
              line-height: 17px
              &::before
                bottom: -8px
                left: 0
              &::after
                top: -8px
                right: unset
                left: 0
            .montaj_body
              max-width: 100%
              p
                font-size: 14px
                line-height: 17px
                margin: 15px 0
                opacity: .9
                height: 52px
                overflow: hidden
                word-break: break-word
                overflow: hidden
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-box-orient: vertical
                -webkit-line-clamp: 3

      .index_electric
        margin-top: 225px
        padding: 30px 0
        .index_electric_container 
          .electric_box
            .electric_inner_box
              width: 300px
              button
                width: 70px
                height: 70px
                div
                  font-size: 12px
                  line-height: 16px 
              .electric_body
                margin-top: 12px
                .electric_title
                  font-size: 14px
                  line-height: 18px
                  margin-bottom: 7px
                .electric_info
                  font-size: 14px
                  line-height: 17px
                  margin-bottom: 18px
            &.electric_left 
              .img_electric
                margin-top: -135px
                img
                  height: 250px
            &.electric_right
              margin-top: 130px
              .img_electric
                img
                  height: 250px
                  margin-top: 120px


      .index_projects
        margin: 55px auto 0
        .project_swiper
          margin-top: 45px 
          .swiper-slide 
            .swiper-slide-inner
              padding-top: 90px
              grid-gap: 36px
              .size_project
                left: -80px
                top: 0
                width: max-content
                &::after
                  content: ''
                  position: absolute
                  background-image: linear-gradient(to bottom ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
                  width: 1px
                  height: 119px
                  top: 0
                  right: 0
                  z-index: 0

                .size_box
                  border-radius: 0
                  div
                    padding: 10px 8px
                    font-size: 11px
                    line-height: 14px
                p
                  display: none
              .color_project
                right: -40px
                top: 42px
                &::after
                  content: ''
                  position: absolute
                  background-image: linear-gradient(to bottom ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
                  width: 1px
                  height: 70px
                  top: 30px
                  left: 0
                  z-index: 0
                .color_box
                  grid-gap: 0
                  margin-bottom: unset
                  div
                    width: 35px
                    height: 35px
                p
                  display: none
              .main_img
                height: 280px
                
        .index_pro_title_container
          margin-top: 20px
          .elektrik_box
            .eletrik_title
              font-size: 14px
              line-height: 18px
              &::after
                bottom: -9px
                left: 0
            .elektrik_body
              margin-top: 15px
              font-size: 14px
              line-height: 18px
              max-width: unset

    .swiper-container 
      .arrow_swiper
        &.right_arrow
          right: 17px !important
        &.left_arrow
          left: 17px !important

    .index_container_title
      font-size: 14px !important
      line-height: 18px !important
      &::after
        bottom: -5px !important

    .index_about 
      .index_about_container
        padding-top: 40px !important
        .about_text
          font-size: 15px !important
          line-height: 18px !important
          width: 100% !important
          margin-top: 11px !important
        .index_about_swiper
          margin-top: 30px !important
          .swiper-slide
            height: 300px !important
            &.swiper-slide-active
               .swiper_img_box 
                 img
                   transform: scale(1.3) !important
            .swiper_img_box 
              img
                width: 150px
                height: 150px

    .index_landing
      .arrow
        bottom: 30px !important
      .container 
        .index_landing_inner
          flex-direction: column
          position: relative
          padding-top: 105px
          overflow: hidden
          .landing_right_gif
            position: absolute
            right: -68px
            bottom: 50px
            height: unset !important
            img
              max-width: 400px
          .landing_left_info
            z-index: 54
            width: 100%
            h1
              font-size: 28px !important
              line-height: 31px !important
            .landing_info_box
              margin: 20px 0 !important
              p
                &:first-child
                  font-size: 16px !important
                  line-height: 20px !important
    
    .breadcrumps
      padding-top: 19px !important

    section.project_inner 
      .project_inner_container
        padding-top: 70px
        .project_top_container
          grid-template-columns: 1fr
          grid-gap: 23px
          .left_project_box
            padding: 37px 0 
            img
              max-width: 200px
              max-height: 230px
          .right_project_box
            padding: 30px 25px 35px
            .right_heading
              p
                font-size: 22px
                line-height: 22px
            p.same_project_title
              font-size: 16px
              line-height: 16px
              margin-bottom: 8px
        .similar_container
          margin: 90px 0 30px

    .basket 
      padding-bottom: 25px
      .basket_container
        padding-top: 0
        .right_fixed_total_container
          position: relative
          width: 300px
          min-height: 150px
          margin: 40px auto 50px
          top: unset
          right: unset
          &.not_fixed
            position: relative
          .title_total_box 
            .heading
              font-size: 20px
              line-height: 24px
            p
              font-size: 20px
              line-height: 24px
          .pay_btn
            width: 200px
            height: 40px
            margin-top: 25px
            font-size: 18px
            line-height: 22px
        .basket_box
          grid-gap: 50px
          .basket-single 
            .basket_img
              min-width: 220px
              min-height: 300px
              img
                width: 100%
                object-fit: contain
            .basket_content_box
              min-width: 300px
              max-width: 400px
            .basket_content_box 
              .basket_content_title
                grid-gap: 15px
                .title
                  font-size: 20px
                  line-height: 22px
              .basket_operation
                display: grid
                button.delete
                  grid-row: 1
                  margin-top: 16px
                  text-align: left
                .basket_count_box
                  margin-top: 16px
                  input
                    height: 40px
                    width: 75px
                  button
                    width: 40px
                    height: 40px 
                .basket_color_box 
                  flex-wrap: wrap
                  .basket_same_color_box
                    min-width: 40px
                    height: 40px
                  .basket_body
                    order: 3
                    width: 100% !important
                .basket_size_box
                  flex-wrap: wrap
                  margin: 16px 0 0
                  .basket_body
                    order: 3
                    width: 100% !important
                  .basket_same_size_box
                    max-width: 102px
                    padding: 0 4px
                    min-width: 65px
                    height: 40px
                button.basket_right_btn
                  width: 40px
                  height: 40px !important
                  img
                    transform: rotate(90deg)
                  &.rotate
                    img
                      transform: rotate(270deg)

    .similar_container 
      .similar_title
        margin-bottom: 55px
        font-size: 18px
        line-height: 22px
      .similiar_box
          grid-gap: 40px 30px
          grid-template-columns: 1fr 1fr
          .similiar_single
            .similiar_content_title
              justify-content: space-between
              p
                font-size: 18px
                line-height: 20px
              span
                font-size: 18px
                line-height: 20px
            .sim_single_img
              min-height: 250px
              img
                max-width: 150px
                max-height: 150px
    
    .pay 
        padding-bottom: 25px
        .modal 
          .modal-dialog 
            
            
            .modal-content
              height: 200px
              .success_content p ,.unsuccess_content p
                font-size: 20px
                line-height: 22px
              .success_content 
                p
                  margin-bottom: 7px
                span
                  font-size: 19px
                  line-height: 21px
    
    section.error 
      .error_landing
        +flex_2
        .error_landing_inner
          margin-top: 0
          >p
            font-size: 150px
            line-height: 155px
          .not_found_box
            width: max-content
            margin-top: 0
            p
              font-size: 24px
              line-height: 28px
            
            a
              font-size: 18px
              line-height: 22px
              margin-left: 30px
              img
                margin: 5px 10px 0 0

    section.search
      .search_landing
        height: 250px
        .container , .row
          .search_landing_inner
            p
              font-size: 16px
              line-height: 20px
              margin-bottom: 30px 
      .projects_container
        .result_search
          +h-l-16
          margin-top: 20px
        .projects_box
          padding-top: 45px
    
    .galery 
      .galery_main_container 
        height: max-content
        grid-template-rows: 6fr 4fr
        .swiper-container
          &.gallery-thumbs
            .swiper-slide
              max-height: 180px
              
            .arrow_swiper
              top: unset
              bottom: 5px
              width: 25px
              height: 25px
              img
                width: 11px
                height: 11px
              &.right_arrow
                right: 15px
              &.left_arrow
                left: 15px
          .swiper-wrapper 
            .swiper-slide 
              .swiper-slide-container
                max-width: 500px
                padding-top: 0
                height: 100%
                +flex_2
    
    .about
      .swiper-container
        .swiper-wrapper 
          .swiper-slide 
            .absolute_background_slider 
              .content 
                .content_title
                  font-size: 16px
                  line-height: 20px
                  margin-bottom: 13px
                .content_info
                  font-size: 15px
                  line-height: 22px

        .swiper-pagination
          right: calc((100% - 540px) / 2)

    .overlay
      div.search-bar
        form.search 
          height: 33px
          transition: none
          input.search
            margin: 0 5px 0 0
            width: 185px
            height: 33px
            padding: 8px 15px 8px 36px
            border-radius: 6px
            +h-r-15
            &::placeholder
              +h-r-15
          .btn
            width: 80px
            +h-l-16
            +flex_2
        span.search-icon.left
          left: 13px
          img
            width: 15px
            height: 15px
    
    header
      .header_container
        ul , .header_right
          display: none
        .button_container
          display: flex
        .logo
          img
            width: 45px
    
    footer
      .footer_max_container
        .footer_container
          .footer_left
            ul
              li
                a
                  font-size: 17px
                  line-height: 20px
          .footer_right
            width: 100%
            justify-content: center
            grid-gap: 20px
            .footer_socials
              margin: unset
            .info_footer_right
              grid-gap: 10px 15px

    section.projects
      padding-bottom: 15px
    
    .projects_container
      .projects_box
        padding-top: 50px
        &::before 
          content: '1 .column.size-1of1'
        
        .column 
          float: left
          &:not(:nth-child(2n))
            margin-right: 0
          .grid-item:not(:last-child)
            margin-bottom: 15px

        .size-1of1
          width: 100%

        .project
          .project_main
            padding: 45px 0 20px
          .project_bottom.show
            margin-top: 0
            .project_first_box
              grid-template-columns: 1fr 1fr

    section.contact
      .contact_inner
        .contact_title
          font-size: 20px
          line-height: 23px
        .contact_form_box
          margin: 20px 0 40px
          grid-template-columns: 1fr
          #map
            height: 400px
            width: 100%
          form
            grid-gap: 15px
            input
              height: 50px
              border: 0.5px solid rgba(255, 255, 255, 0.6)
              &::placeholder
                +h-t
                font-size: 20px
                color: rgba(133, 145, 166, 0.7)
            .country_input
              .country_flag
                +h-t
                font-size: 20px
                color: rgba(133, 145, 166, 0.7)
                border: 0.5px solid rgba(255, 255, 255, 0.6)
                .country_text
                  height: 50px
                  color: rgba(133, 145, 166, 0.7)

            textarea
              height: 200px
              border: 0.5px solid rgba(255, 255, 255, 0.6)
              &::placeholder
                +h-t
                font-size: 20px
                color: rgba(133, 145, 166, 0.7)
            button
              height: 50px
        .contact_info
          margin-bottom: 45px
          flex-wrap: wrap
          grid-gap: 30px
          justify-content: flex-start
          .contact_single
            grid-gap: 25px

    section.reviews
      padding-bottom: 15px
      .reviews_container
        padding-top: 60px
        .rewiews_title
          margin-bottom: 20px
          h1
            font-size: 30px
            line-height: 36px
          p
            font-size: 18px
            line-height: 22px
        .review_single
          margin-top: 30px
          .rev_img
            img
              max-height: 300px
              width: 100%
          .stars_box
            min-height: 150px
            height: auto
            max-width: 250px
            padding: 0 25px
            right: 25%
            justify-content: flex-start
            padding: 13px 5px 13px 20px !important
            p
              &:first-child
                font-size: 13px
                line-height: 17px
              &:nth-child(2)
                font-size: 13px
                line-height: 17px
                margin: 5px 0
                height: 35px
            .stars
              font-size: 24px

    .pagination_project
      margin: 60px 0
      grid-gap: 25px
      a
        +g-l
        min-height: 30px
        height: 30px
        padding: 0
        min-width: 30px

@media (max-width: 576px)
    section.index
      padding-bottom: 0
      .reviews_container
        .first_cont
          .about_text_box
            padding-left: 16px
        .review_single
          margin: 25px 0 50px
          .review_swiper
            .swiper-slide
              .rev_img
                max-width: 300px
                img
                  height: 400px
                  width: 100%
                  object-fit: cover
                &::after
                    display: none
                img
                  width: 100%

              .container
                position: absolute
                margin: 0 auto
                width: 100%
                left: 0
                right: 0
                height: 250px
                top: 0
                z-index: 2
                &.first_cont
                  position: relative
                .stars_box
                  max-width: 250px
                  height: max-content
                  padding: 10px 20px !important
                  margin-right: 16px
                  .stars
                    font-size: 21px
                  .company_name
                    +h-m
                    font-size: 15px
                    line-height: 18px
                  
                  .company_info
                    +h-l
                    font-size: 14px
                    line-height: 17px
                    height: 35px
                    margin: 5px 0
                    -webkit-line-clamp: 2 !important

            .arrow_swiper
              width: 45px
              height: 45px 
              bottom: 25px
              top: unset
              &.left_arrow
                left: 15px !important
              &.right_arrow
                left: calc(300px - 15px - 50px) !important

      .index_montaj
        padding: 145px 0 45px
        padding-right: 16px
        grid-gap: 22px
        align-items: unset
        .montaj_img
          margin-top: 30px
          img
            width: 200px
        .container 
          .montaj_inner_box
            max-width: 100%
            .montaj_title
              font-size: 13px
              line-height: 16px
              &::before
                bottom: -5px
                left: 0
              &::after
                top: -5px
            .montaj_body
              p
                font-size: 13px
                line-height: 16px
                margin: 10px 0
                height: 31px
                -webkit-line-clamp: 2

      .index_electric
        margin-top: 184px
        padding: 20px 0
        .index_electric_container
          .electric_box
            grid-gap: 44px
            .electric_inner_box
              width: 100%
              min-width: 165px
              button
                width: 47px
                height: 47px
                padding: 2px
                div
                  font-size: 10px
                  line-height: 17px 
              
              .electric_body
                margin-top: 9px

                .electric_title
                  font-size: 13px
                  line-height: 17px
                  margin-bottom: 5px

                .electric_info
                  font-size: 13px
                  line-height: 17px


            &.electric_left
              .electric_inner_box
                padding-right: 16px 
              .img_electric
                margin-top: 0
                position: relative
                min-width: 160px
                img
                  top: -100px
                  position: absolute
                  width: 100%
                  height: max-content
            &.electric_right
              margin-top: 100px
              .electric_inner_box
                padding-left: 16px 
              .img_electric
                margin-top: 0
                position: relative
                min-width: 160px
                img
                  position: absolute
                  bottom: -100px
                  margin-top: 0
                  height: 179px
                  width: 100%
                  height: max-content
      
      .index_projects
        overflow: hidden
        .project_swiper
          margin-top: 45px 
          .swiper-slide 
            .swiper-slide-inner
              padding-top: 90px
              grid-gap: 36px
              .size_project
                left: -80px
                top: 0

              .color_project
                right: -37px
                
              .main_img
                height: 230px

              .color_project
                right: -40px
                top: 50px

        .index_projects_container
          padding: 0 16px        

    .swiper-container 
      .arrow_swiper
        &.right_arrow
          right: 10px !important
        &.left_arrow
          left: 10px !important

    .index_container_title
      font-size: 12px !important
      line-height: 15px !important
      &::after
        bottom: -5px !important

    .index_about 
      .index_about_container
        padding-top: 20px !important
        .about_text_box
          padding: 0 16px
          .about_text
            font-size: 13px !important
            line-height: 16px !important
            width: 100% !important
            margin-top: 11px !important
        .index_about_swiper
          margin-top: 25px !important
          .swiper-slide
            height: 210px !important
            &.swiper-slide-active
               .swiper_img_box 
                 img
                   transform: scale(1.1) !important
            .swiper_img_box 
              img
                width: 120px
                height: 120px

    .index_landing
      height: 560px
      .arrow
        bottom: 30px !important
      .container 
        .index_landing_inner
          padding: 100px 16px 0
          .landing_right_gif
            position: absolute
            right: 0
            bottom: 50px
            height: unset !important
            img
              max-width: 300px
          .landing_left_info
            h1
              font-size: 24px !important
              line-height: 27px !important
            .landing_info_box
              margin: 17px 0 !important
              p
                &:first-child
                  font-size: 13px !important
                  line-height: 17px !important
                &:last-child
                  font-size: 13px !important
                  line-height: 17px !important
    
    .basket 
      padding-bottom: 0
      .basket_container
        .breadcrumps_container
          position: relative
          left: unset
          right: unset
          .breadcrumps
            padding: 19px 15px 0
        .right_fixed_total_container
          max-width: 300px
          min-height: 163px
          margin: 16px auto 50px
          top: unset
          right: unset
          &.not_fixed
            position: relative
          .title_total_box 
            .heading
              font-size: 20px
              line-height: 24px
            p
              font-size: 20px
              line-height: 24px
          .pay_btn
            width: 238px
            height: 47px
            margin-top: 33px
            font-size: 17px
        .basket_box
          grid-gap: 78px
          margin-bottom: 19px
          .basket-single
            padding: 0 16px
            position: relative
            &:not(:last-child)
              &::before
                content: ''
                position: absolute
                left: 0
                bottom: -39px
                width: 100%
                height: .3px
                background-color: $basket_img_bor
            .basket_img 
              min-width: 160px
              min-height: 258px
              img
                width: 100%
                object-fit: contain
            .basket_content_box
              min-width: unset
              max-width: unset
              width: 100%
            .basket_content_box 
              .basket_content_title
                flex-direction: column
                align-items: flex-start
                grid-gap: 8px
                .title
                  font-size: 14px
                  line-height: 17px
                .money_price
                  font-size: 18px
                  line-height: 22px

              .basket_operation
                button.delete
                  img
                    width: 19px
                .basket_count_box
                  margin-top: 16px
                  flex-wrap: wrap
                  input
                    height: 36px
                    width: 75px
                  button
                    width: 36px
                    height: 36px 
                .basket_color_box 
                  flex-wrap: wrap
                  .basket_same_color_box
                    min-width: 36px
                    height: 36px
                  .basket_body
                    order: 3
                    width: 100% !important
                    flex-wrap: wrap
                .basket_size_box
                  flex-wrap: wrap
                  .basket_body
                    order: 3
                    width: 100% !important
                    flex-wrap: wrap
                  .basket_same_size_box
                    max-width: 102px
                    padding: 0 4px
                    min-width: 65px
                    height: 36px
                button.basket_right_btn
                  width: 36px
                  height: 36px !important
                  img
                    transform: rotate(90deg)
                  &.rotate
                    img
                      transform: rotate(270deg)

    .similar_container 
      .similar_title
        margin-bottom: 100px
        margin-top: 30px
        font-size: 15px
        line-height: 18px
      .similiar_box
          grid-gap: 40px 
          grid-template-columns: 1fr
          margin-bottom: 50px
          .similiar_single
            position: relative
            .similiar_content_title
              position: absolute
              bottom: 20px
              padding: 0 20px
              flex-direction: column
              grid-gap: 5px
              align-items: flex-start
            .sim_single_img
              min-height: 340px
              align-items: flex-start
              padding-top: 30px
              img
                max-width: 200px
                max-height: 200px

    .pay 
      padding-bottom: 0
      .modal 
          .modal-dialog 
            padding: 0 27px
            margin: 0
            max-width: 100%
            .modal-content
              height: 141px
              .success_content p ,.unsuccess_content p
                font-size: 18px
                line-height: 22px
              .success_content 
                p
                  margin-bottom: 7px
                span
                  font-size: 17px
                  line-height: 21px
      .pay_container 
        .pay_form_box
          margin: 65px auto 60px
          max-width: 100%
          padding: 0 27px
          .form_common_price
            top: -45px
            padding: 0 27px
          form 
            .select_box
              grid-row: 5
              grid-template-columns: 1fr 
            .pay_button_container
              margin-top: 55px
              .pay_btn_box
                grid-template-columns: 260px
                grid-gap: 13px
                justify-content: center

    .modal_basket
      &.fade 
        .modal-dialog
          right: unset
          top: -144px
          -webkit-transition: opacity 0.3s linear, top 0.3s ease-out
          -moz-transition: opacity 0.3s linear, top 0.3s ease-out
          -o-transition: opacity 0.3s linear, top 0.3s ease-out
          transition: opacity 0.3s linear, top 0.3s ease-out
        &.show
          .modal-dialog
            right: unset
            top: 14px
      .modal-dialog
        width: 100%
        height: max-content
        .modal-content
          max-width: 375px
          margin: 0 auto
          height: max-content
          .added_project_box
            max-height: 144px
            padding-top: 18px
            box-shadow: none
            width: 100%
            .esc
              right: 20px
              top: 16px
              left: unset
            .add_center_box
              display: none

            .mobile_added_text
              display: block
              text-align: center
            
            .go_basket_box
              padding: 30px 0 22px
              a.go_basket
                height: 48px
                font-size: 17px
                line-height: 16px

    section.project_inner
      .breadcrumps
        padding: 19px 15px 0 
      .project_inner_container
        padding-top: 60px
        .project_top_container
          .left_project_box
            padding: 33px 0 
            img
              max-width: 170px
              max-height: 195px
          .right_project_box
            padding: 30px 15px 35px
            .right_heading
              p
                font-size: 18px
                line-height: 18px
              img
                width: 12px
                margin-top: 0 !important

            p.same_project_title
              font-size: 15px
              line-height: 15px

            .about_btns 
              button
                +h-b
                font-size: 14px
                height: 51px
            
            .size_box 
              .size_link
                min-width: unset

        .similar_container
          margin: 90px 0 30px
          .similar_title
            margin-bottom: 20px
    
    section.error 
      .error_landing
        height: calc(100vh - 236px)
        +flex_2
        .error_landing_inner
          margin-top: 0
          align-items: flex-start
          >p
            font-size: 64px
            line-height: 68px
          .not_found_box
            width: max-content
            margin-top: 40px
            p
              font-size: 18px
              line-height: 22px
            
            a
              font-size: 16px
              line-height: 22px
              margin-left: 0
              align-items: baseline
              img
                margin: 0 7px 0 0

    section.search
      .search_landing
        height: 205px
        .container , .row
          .search_landing_inner
            p
              font-size: 14px
              line-height: 16px
              margin-bottom: 26px
              padding: 0 15px

      .projects_container
        .result_search
          +h-l-14
          padding: 0 16px
          margin-top: 29px
        .projects_box
          padding-top: 42px
    
    .about
        .swiper-container
          .swiper-wrapper 
            .swiper-slide 
              .absolute_background_slider 
                .content 
                  padding: 0 15px 10px
                  .content_title
                    font-size: 16px
                    line-height: 20px
                    margin-bottom: 13px
                  .content_info
                    font-size: 15px
                    line-height: 22px

          .swiper-pagination
            right: 0
            left: 0
            margin: auto
            bottom: 80px
            flex-direction: unset
            height: unset
            width: unset
            .swiper-pagination-bullet
              width: 12px
              height: 12px
              &.swiper-pagination-bullet-active
                &::after
                  width: 7.5px
                  height: 7.5px
    
    section
      &.index ,&.projects , &.reviews
      footer .footer_max_container
        box-shadow: none

    header
      padding: 16px 15px 15px
      .header_container
        .logo
          img
            width: 31px
    
    .overlay
      .overlay_header
        width: 100%
        padding: 0 15px
        top: 16px
        height: 36px

    section.projects
      padding-bottom: 0
    
    .projects_container
      padding-bottom: 5px
      .breadcrumps
        padding: 19px 15px 0
      .projects_box
        &::before 
          content: '1 .column.size-1of1'
        
        .column 
          float: left
          &:not(:nth-child(2n))
            margin-right: 0
          .grid-item:not(:last-child)
            margin-bottom: 8px

        .project
          .project_main
            padding: 36px 0 27px
          .project_bottom.show
            margin-top: -62px
            padding: 0 15px 86px
            .project_tab_box.project_color
              .project_container_box
                grid-template-columns: 1fr 1fr
                grid-gap: 7px
                .pro_color_box
                  grid-template-columns: repeat(3, 1fr)
                .pro_size_box
                  grid-template-columns: repeat(3, 1fr)
                  grid-gap: 3px
                  border: none
                  div
                    height: 30px
                    border: .5px solid $blue
            .project_buttons_box
              grid-gap: 7px
              button
                height: 51px
                +h-b-14 
            .project_first_box
              grid-template-columns: 1fr
              .price_tabs
                button
                  +h-m
                  font-size: 16px
                  line-height: 20px
            button.quit
              bottom: 34px
              left: 50%
              transform: translate(-50%, -50%)
              top: unset
              width: 8px
              height: 10px
              img
                display: none
              &::after
                content: ''
                position: absolute
                width: 100%
                height: 100%
                left: 0
                top: 0
                background-image: url('../img/button_mobile_up.svg')
                background-position: center
                background-size: cover

    section.contact
      .breadcrumps
        padding: 19px 15px 0
      .contact_inner
        padding-top: 60px
        .contact_title
          font-size: 16px
          line-height: 19px
          padding: 0 15px
        .contact_form_box
          margin: 16px 0 0
          grid-template-columns: 1fr
          #map
            height: 375px
          form
            grid-gap: 8px
            padding: 0 15PX
            input
              height: 48px
              padding: 0 15px
              width: 100%
            .country_input
              grid-template-columns: 100px 1fr
              grid-gap: 7px
              .country_flag
                .flag_img
                  width: 24px
                .country_text
                  height: 48px
                  padding: 0 15px
                  &::after
                    top: 21px

            textarea
              height: 220px
              padding: 15px
            button
              height: 48px
        .contact_info
          margin: 110px 0 100px
          padding: 0 25px
          flex-wrap: wrap
          grid-gap: 90px
          justify-content: flex-start
          .contact_single
            grid-gap: 25px
            .contact_desc
              width: unset
              max-width: 192px
              p
                word-break: break-word
                letter-spacing: 0.08em
                width: 100%
            .contact_img
              width: 70px
              height: 70px
              +flex_2
              img
                object-fit: contain
                width: 100%
            &:nth-of-type(2)
              .contact_desc
                grid-template-columns: 1fr
                width: unset
                min-width: unset
                max-width: 192px
                p
                  &:nth-of-type(3)
                    grid-row: 1
                  &:nth-of-type(4)
                    grid-row: 2

    section.reviews
      padding-bottom: 0
      .reviews_container
        padding-top: 0
        .breadcrumps_container
          position: relative
          left: unset
          right: unset
          top: unset
          .breadcrumps
            padding: 19px 15px 0
        .rewiews_title
          display: none
        
        .review_single
          &:not(:top-child)
            margin-top: 30px !important
          .rev_img
            img
              height: 227px
              width: 173px
          .stars_box
            min-height: 110px
            height: auto
            max-width: 207px
            padding: 0 25px
            right: unset
            left: 152px
            box-shadow: 0px 4px 4px rgba(148, 148, 148, 0.15)
            .stars
              font-size: 18px

        .pagination_project
          margin: 50px 0 40px
    
    .pagination_project
      margin: 45px 0
      grid-gap: 23px
      a
        +g-l
        min-height: 27px
        height: 27px
        min-width: 27px

    footer
      .footer_max_container
        padding: 0 15px
        .footer_container
          flex-wrap: nowrap
          align-items: flex-start
          padding: 25px 0 30px
          .footer_left
            margin: unset
            ul
              flex-direction: column
              grid-gap: 24px
              align-items: flex-start
              li
                display: flex
                height: 100%
                a
                  font-size: 14px
                  line-height: 17px
                  opacity: .5
          .footer_right
            width: max-content
            height: 100%
            flex-direction: column
            justify-content: space-between
            .footer_socials
              margin: unset
              a
                img
                  width: 24px
                  height: 24px
                  object-fit: contain
            .info_footer_right
              grid-template-columns: 1fr
              grid-gap: 17px
              p
                &:not(:first-child)
                  +h-r
                &:nth-of-type(1)
                  margin-left: 7px
                &:nth-of-type(3)
                  grid-row: 1
                &:nth-of-type(4)
                  grid-row: 2

@media (max-width: 400px)
  section.index
      .index_projects
        .project_swiper
          .swiper-slide 
            .swiper-slide-inner
              .size_project
                left: -40px
      
      .index_electric
        .index_electric_container
          .electric_box
            grid-gap: 25px

      .index_montaj
        grid-gap: 10px
        padding-right: 10px
        .montaj_img
          img
            width: 175px

  section.reviews
    .reviews_container
      .review_single
        .stars_box
          right: 16px
          left: unset
  

  .basket 
    .basket_container
      .right_fixed_total_container
        width: 100%
        max-width: unset
        margin: 16px 16px 50px

@media (max-width: 380px)
  section.index
    .index_electric
      .index_electric_container
        .electric_box
          grid-gap: 15px
          .electric_inner_box
            min-width: 155px
          &.electric_left
            .img_electric
              min-width: 145px

          &.electric_right
            .img_electric
              min-width: 145px