.reviews
  min-height: 100vh
  padding-bottom: 50px
  display: flex
  flex-direction: column
  .breadcrumps_container
    position: absolute
    left: 0
    right: 0
    top: 0
    margin: 0 auto
    .breadcrumps
      position: relative
      left: unset
      top: unset
  header
    background: $landing_gradient
  
  .reviews_container
    margin: unset
    

.reviews_container
  overflow: hidden
  padding-top: 127px
  max-width: 1440px
  margin: 0 auto

  .rewiews_title
    margin-bottom: 88px

    h1
      +h-m-52
      color: $title_review
      letter-spacing: 0.01em

    p
      +h-r-22
      color: $title_review
      letter-spacing: 0.06em

  .review_single
    position: relative
    margin-top: 80px

    .rev_img
      position: relative

      img
        max-width: 100%

      &::after
        position: absolute
        content: ''
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: $review_after

    .stars_box
      +flex_3
      position: absolute
      right: 0
      top: 0
      max-width: 505px
      height: 311px
      background: $star_box_gray
      padding: 0 98px 0 68px

      p:first-child
        +g-b-14
        color: $blue
        word-break: break-word

      p:nth-child(2)
        +h-l-14
        color: $blue
        margin: 5px 0 10px
        word-break: break-word
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box !important
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        height: 38px

      .stars
        --rating: 0
        &.review1
          --rating: 1
        &.review2
          --rating: 2
        &.review3
          --rating: 3
        &.review4
          --rating: 4
        &.review5
          --rating: 5

        $percent: calc(var(--rating) / 5 * 100%)
        display: inline-block
        font-size: $star-size
        font-family: Times
        line-height: 1

        &::before
          content: '★★★★★'
          letter-spacing: 3px
          background: linear-gradient(90deg, $star-background $percent, $star-color $percent)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
    
