section.search 
  .search_landing
    position: relative
    width: 100%
    height: 430px
    background: $landing_gradient

    .container , .row
      height: 100%
      .search_landing_inner
        display: flex
        align-items: flex-end
        justify-content: flex-start
        p
          position: relative
          z-index: 5
          +h-m-25
          color: $white
          margin-bottom: 55px
          letter-spacing: 0.07em
    
    #animatedBackground
      background-position: right

  .projects_container
    .result_search
      +h-l-24
      color: $blue
      margin-top: 28px
    .projects_box
      padding-top: 80px