// Base fonts
$g-l:  'g-l',   Arial,   sans-serif
$g-r:  'g-r',   Arial,   sans-serif
$g-m:  'g-m',  Arial,   sans-serif
$g-b:  'g-b',   Arial,   sans-serif
$g-t:  'g-t',   Arial,   sans-serif

$h-l:  'h-l',   Arial,   sans-serif
$h-t:  'h-t',  Arial,   sans-serif
$h-ul: 'h-ul',   Arial,   sans-serif
$h-b:  'h-b',   Arial,   sans-serif
$h-r:  'h-r',  Arial,   sans-serif
$h-m:  'h-m',   Arial,   sans-serif



// Base colors

$white:                   #ffffff
$landing_gradient:        linear-gradient(113.77deg, #102448 10.04%, #042C71 104.79%)
$gray:                    #CAD0DC
$gray_project:            #FBFBFD
$arrow_gray:              #A4A5BB
$blue:             				#061E47
$text_blue:             	rgba(6, 30, 71, 0.8)
$green:                   #C6D373
$placeholder:             rgba(133, 145, 166, 0.7)
$submit_back:             rgba(255, 255, 255, 0.95)
$submit_blue:             #092962
$border_flag:             #607190
$title_review:            #314C71
$review_after:            linear-gradient(0deg, rgba(12, 13, 23, 0.59), rgba(12, 13, 23, 0.59))
$star_box_gray:           #FCFCFC
$star-size: 30px
$star-color:              #E0E0E0
$star-background:         #F0CB82
$swiper_pagination:       #57575C
$swiper_pag_back:           linear-gradient(0deg, rgba(12, 13, 23, 0.59), rgba(12, 13, 23, 0.59))
$galery_back:           		linear-gradient(180deg, #C7C7C7 0%, rgba(255, 255, 255, 0) 100%)
$gradient_text:           rgba(6, 30, 71, 0.6)
$electric:                #375484
$color_basket:            #082A64
$pay_blue:                #404468
$pay_fix_blue:            #062B6B
$basket_btn_bor:          #83859D
$basket_img_back:         #FDFDFE
$basket_img_bor:          #DBDBDB
$basket_size_box:         #D5D5D5
$error_red:               #8E0E0E
$pop_success:             #83CA82
$pop_not_success:         #FF0F00
$error_page_red:          #FF0000
$modal_green:             #7ECC1A

// Base Flex
=flex_1
	display: flex
	align-items: center
	justify-content: space-between

=flex_2
	display: flex
	align-items: center
	justify-content: center

=flex_3
	display: flex
	flex-direction: column
	justify-content: center

// Base mixin
=g-l
	font-family: $g-l
	font-weight: 400

=g-r
	font-family: $g-r
	font-weight: 400


=g-m
	font-family: $g-m
	font-weight: 400


=g-b
	font-family: $g-b
	font-weight: 400

=g-t
	font-family: $g-t
	font-weight: 400

=h-l
	font-family: $h-l
	font-weight: 400

=h-r
	font-family: $h-r
	font-weight: 400


=h-m
	font-family: $h-m
	font-weight: 400


=h-b
	font-family: $h-b
	font-weight: 400

=h-t
	font-family: $h-t

=h-ul
	font-family: $h-ul

// base mixin sizing
=h-l-12
	+h-l
	font-size: 12px
	line-height: 14px

=h-l-13
	+h-l
	font-size: 13px
	line-height: 17px

=h-l-14
	+h-l
	font-size: 14px
	line-height: 19px

=h-l-15
	+h-l
	font-size: 15px
	line-height: 17px

=h-l-16
	+h-l
	font-size: 16px
	line-height: 22px		

=h-l-18
	+h-l
	font-size: 16px
	line-height: 22px		

=h-l-19
	+h-l
	font-size: 19px
	line-height: 22px

=h-l-20
	+h-l
	font-size: 20px
	line-height: 22px

=h-l-22
	+h-l
	font-size: 22px
	line-height: 22px

=h-l-24
	+h-l
	font-size: 24px
	line-height: 28px

=h-l-30
	+h-l
	font-size: 30px
	line-height: 35px

=h-r-13
	+h-r
	font-size: 13px
	line-height: 16px

=h-r-15
	+h-r
	font-size: 15px
	line-height: 20px	

=h-r-16
	+h-r
	font-size: 16px
	line-height: 19px

=h-r-18
	+h-r
	font-size: 18px
	line-height: 21px

=h-r-19
	+h-r
	font-size: 19px
	line-height: 27px

=h-r-20
	+h-r
	font-size: 20px
	line-height: 24px

=h-r-22
	+h-r
	font-size: 22px
	line-height: 26px

=h-m-12
	+h-m
	font-size: 12px
	line-height: 15px

=h-m-13
	+h-m
	font-size: 13px
	line-height: 16px

=h-m-15
	+h-m
	font-size: 15px
	line-height: 18px


=h-m-18
	+h-m
	font-size: 18px
	line-height: 22px

=h-m-20
	+h-m
	font-size: 20px
	line-height: 24px

=h-m-25
	+h-m
	font-size: 25px
	line-height: 31px


=h-m-52
	+h-m
	font-size: 52px
	line-height: 63px

=h-b-14
	+h-b
	font-size: 14px
	line-height: 17px

=h-b-16
	+h-b
	font-size: 16px
	line-height: 20px

=h-b-18
	+h-b
	font-size: 18px
	line-height: 22px

=h-b-24
	+h-b
	font-size: 24px
	line-height: 29px

=h-t-20
	+h-t
	font-size: 20px

=g-r-12
	+g-r
	font-size: 12px
	line-height: 14px

=g-t-18
	+g-t
	font-size: 18px
	line-height: 21px

=g-t-55
	+g-t
	font-size: 55px
	line-height: 63px
  letter-spacing: 0.1em

=g-b-14
	+g-b
	font-size: 14px
	line-height: 18px

=arial_default
	font-family: Arial
	font-style: normal
	font-weight: normal