@import '_fonts'
@import '_vars'
@import '_header'
@import '_footer'
@import '_about'
@import '_galery'
@import '_reviews'
@import '_projects'
@import '_project_inner'
@import '_contact'
@import '_basket'
@import '_pay'
@import '_search'
@import '_error'
@import '_responsive'

@keyframes animate 
    0%
        opacity: 0
        transform: rotate(45deg) translate(-5px,-5px) 
    50%
        opacity: 1
    100%
        opacity: 0
        transform: rotate(45deg) translate(5px,5px) 

@keyframes animatedBackground 
  from
    background-position: 0 0
  to
    background-position: 0 -7000px

@keyframes rotate
  100%  
    transform: rotate(-360deg) 


  
body.not_scroll
  overflow: hidden

.index
  padding-bottom: 100px

.index_landing
  position: relative
  width: 100%
  max-height: 900px
  background: $landing_gradient

  .container 
    height: 100%
    .row
      height: 100%
    .index_landing_inner
      +flex_1
      position: relative
      z-index: 88
      height: 100%
      .landing_left_info
        h1
          +g-t-55
          color: $white
          word-break: break-word

        .landing_info_box
          margin: 32px 0 57px
          p
            letter-spacing: 0.04em
            &:first-child
              +h-r-22
              color: $white
              margin-bottom: 5px
              word-break: break-word
            &:last-child
              +h-l-15
              color: $gray
              max-width: 500px
              word-break: break-all
        a.more
          padding: 9.5px 15px
          +h-l-13
          color: $gray
          letter-spacing: 0.06em
          border: 0.2px solid $gray
          border-radius: 20px 0px 20px 20px
          transition: all .3s
          &:hover
            border: 1px solid $white
      .landing_right_gif
        height: 100%
        padding-top: 70px
        img
          height: 100%
          max-height: 720px
  .arrow
    position: absolute
    right: 0
    left: 0
    margin: auto
    bottom: 75px
    display: flex
    flex-direction: column
    align-items: center

    span
      display: block
      transform: rotate(45deg)
      animation: animate 2s infinite
      width: 6px
      height: 6px
      border-bottom: 1px solid $arrow_gray
      border-right: 1px solid $arrow_gray
      &:nth-child(2)
        width: 8px
        height: 8px
        border-bottom: 1.5px solid $arrow_gray
        border-right: 1.5px solid $arrow_gray
        animation-delay: -0.2s
      &:nth-child(3)
        animation-delay: -0.4s
        width: 12px
        height: 12px
        border-bottom: 2px solid $arrow_gray
        border-right: 2px solid $arrow_gray
        
    p
      color: $arrow_gray
      +h-l-12
      margin-top: 15px

#animatedBackground 
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  background: url(../img/octagon.svg)
  background-repeat: repeat
  background-position: 0 0
  background-size: cover
  animation: animatedBackground 100s linear infinite

.swiper-container
  &.gallery-thumbs
    max-width: 1440px
    margin: 0 auto 
    .arrow_swiper
      width: 59px
      height: 53px
      top: calc((100% - 53px) / 2)

  .arrow_swiper
    width: 30px
    height: 27px
    position: absolute
    top: 0
    z-index: 88
    top: calc((100% - 27px) / 2)
    cursor: pointer
    +flex_2

    &.left_arrow
      border: 1px solid #C9C9C9
      border-radius: 3px
      background: $white
      left: 35px
    &.right_arrow
      background: #DCDCDC
      border-radius: 3px
      right: 35px

// index-about
.index_about
  .index_about_container
    max-width: 1440px
    margin: auto
    padding-top: 215px

    .about_text
      +h-r-19
      margin-top: 30px
      width: 50%
      color: $gradient_text
      letter-spacing: 0.01em
    
    .index_about_swiper
      height: max-content
      margin-top: 8rem
      .swiper-slide
        height: 549px
        border-radius: 5px

        .swiper_img_box
          +flex_2
          height: 100%
          background: linear-gradient(180deg, #FBFBFD 0%, #FBFBFD 100%)
          border-radius: 2px
          position: relative
          z-index: 5
          img
            transition: all .3s
          
        &.swiper-slide-active
          overflow: hidden
          padding: 3px
          z-index: 2
          border-radius: 5px
          &::before
            content: ''
            background-image: conic-gradient(#C4C4C4 20deg , transparent 80deg)
            position: absolute
            height: 150%
            width: 150%
            left: -25%
            top: -25%
            animation: rotate 2s infinite linear
            border-radius: 5px
          .swiper_img_box
            border-radius: 5px
            img
              transform: scale(1.4)
// index-projects

.index_projects
  max-width: 1440px
  margin: 13rem auto 0
  
  .index_pro_title_container
    margin-top: 7rem
    .elektrik_box
      .eletrik_title
        +h-m-18
        color: $blue
        position: relative
        &::after
          position: absolute
          content: ''
          background-image: url('../img/linear_title.svg')
          background-size: cover
          background-position: center
          width: 450px
          height: 1px
          left: 70px
          bottom: -15px 
      .elektrik_body
        +h-r-18
        line-height: 25px
        color: $gradient_text
        max-width: 515px
        letter-spacing: 0.005em
        margin-top: 25px
  
  .project_swiper
    height: max-content
    margin-top: 2px
    .swiper-slide
      text-align: center

      .swiper-slide-inner
        display: flex
        flex-direction: column
        grid-gap: 35px
        align-items: center
        position: relative
        width: max-content
        margin: auto
        padding-top: 78px
        
        .main_img
          height: 75vh
          max-height: 671px
          z-index: 9
          img
            height: 100%
            object-fit: contain

        .swiper_prject_more
          +h-l-13
          color: $blue
          +flex_1
          grid-gap: 12px

        .size_project
          position: absolute
          top: 0
          right: 14px
          +flex_1
          align-items: flex-end
          grid-gap: 22px

          p
            +h-b-16
            color: $blue
            position: relative
            &::after
              content: ''
              position: absolute
              background-image: linear-gradient(to right ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
              width: 71px
              height: 1px
              top: -5px
              right: -16px
            &::before
              content: ''
              position: absolute
              background-image: linear-gradient(to bottom ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
              width: 1px
              height: 156px
              top: -5px
              right: -16px
              z-index: 0
          .size_box
            display: flex
            position: relative
            border: 0.4px solid #8196B4
            border-radius: 5px
            div
              padding: 5px 8px 
              +flex_2
              +h-l-12
              color: $blue
              min-width: 41px
              min-height: 16px
              &:not(:last-child)
                border-right: .4px solid #8196B4

        .color_project
          position: absolute
          top: 110px
          right: -228px
          +flex_1
          align-items: flex-end
          grid-gap: 22px

          p
            +h-b-16
            color: $blue
            position: relative
            &::after
              content: ''
              position: absolute
              background-image: linear-gradient(to right ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
              width: 71px
              height: 1px
              top: -5px
              right: -16px
            &::before
              content: ''
              position: absolute
              background-image: linear-gradient(to bottom ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
              width: 1px
              height: 156px
              top: -5px
              right: -16px
              z-index: 0
          .color_box
            display: flex
            grid-gap: 10px
            margin-bottom: -5px
            div
              width: 27px
              height: 30px
              border-radius: 2px
              &:nth-of-type(1)
                background: #4178BC
              &:nth-of-type(2)
                background: #2F2F2F
              &:nth-of-type(3)
                background: #BDC1C9

// index-electric
.index_electric
  background: $landing_gradient
  margin-top: 70vh
  padding: 120px 0
  
  .index_electric_container
    max-width: 1440px
    margin: auto
    position: relative
    
    .electric_box
      display: flex
      
      .img_electric
        position: absolute
      
      &.electric_left
        flex-direction: row
        
        .img_electric
          left: 0
          margin-top: -420px
        
        .electric_inner_box
          margin-left: auto
      
      &.electric_right
        flex-direction: row-reverse
        margin-top: 370px
        
        .img_electric
          right: 0
          margin-top: -50px
        
        .electric_inner_box
          margin-right: auto

          .el_arrow
            transform: rotate(180deg)
      
      .electric_inner_box
        max-width: 410px
        
        button
          padding: 4px
          border: 1px solid $electric
          border-radius: 50%
          background: none
          outline: none
          cursor: pointer
          width: 109px
          height: 109px
          transition: all .6s 
          &.change
            transform: rotate(360deg)
          div
            border: 1px solid $electric
            border-radius: 50%
            height: 100%
            width: 100%
            +flex_2
            +h-l-20
            color: $electric

        .electric_body
          margin-top: 26px
          .electric_title
            +h-b-18
            color: $white
            margin-bottom: 10px
          
          .electric_info
            +h-l-16
            color: $white
            margin-bottom: 28px
            word-break: break-word

// index-montaj
.index_montaj
  overflow: hidden
  max-width: 1440px
  width: 100%
  margin: auto
  position: relative
  // min-height: 100vh
  padding: 408px 0 696px
  
  .montaj_img
    position: absolute
    left: -2%
    top: 410px
    z-index: 1
  
  .container
    .montaj_inner_box
      max-width: 590px
      margin-left: auto
      
      .montaj_title
        +h-b-18
        color: $blue
        position: relative
        &::after
          position: absolute
          content: ''
          right: 0
          background-image: linear-gradient(to right ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
          width: 566px
          height: 1px
          top: -25px
          right: -90px
        
        &::before
          position: absolute
          content: ''
          right: 0
          background-image: linear-gradient(to right ,rgba(64, 119, 187, 0), rgba(6, 30, 71, 1),  rgba(64, 119, 187, 0))
          width: 213px
          height: 1px
          bottom: -25px
          left: -110px
          z-index: 0

      .montaj_body
        max-width: 77%
        margin-left: auto
        p
          +h-r-15
          color: $blue
          margin: 55px 0 33px
        
        a
          +flex_2
          justify-content: flex-start
          grid-gap: 7px
          span
            color: $blue
            +h-l-13

// index-reviews
.index
  .reviews_container
    padding-top: 0
    .review_single
      margin: 60px 0 100px
      .review_swiper
        margin: unset
        z-index: 1
        height: max-content
        .swiper-slide
          .rev_img
            max-width: 900px
            &::after
                display: none
            img
              width: 100%

          .container
            position: absolute
            margin: 0 auto
            width: 100%
            left: 0
            right: 0
            height: 311px
            top: 0
            z-index: 2
            &.first_cont
              position: relative
            .stars_box
              max-width: 583px
              .company_name
                +h-m-18
              
              .company_info
                +h-l-19
                line-height: 27px
                margin: 17px 0
                -webkit-line-clamp: 3
                height: 78px

        .arrow_swiper
          width: 59px
          height: 53px 
          bottom: 48px
          top: unset
          &.left_arrow
            left: calc( (100% - 1240px) / 2)
          &.right_arrow
            right: calc( ((100% - 1240px) / 2) + (100% - 900px))

.about_text
  color: $gradient_text

.index_container_title
  +h-b-24
  color: $blue
  position: relative
  width: max-content

  &::after
    position: absolute
    content: ''
    background-image: url('../img/linear_title.svg')
    width: 241px
    height: 1px
    left: -120px
    bottom: -15px

.breadcrumps
  display: flex
  align-items: center
  grid-gap: 8px
  padding-top: 30px
  position: absolute
  left: 0
  top: 0
  a.old_page
    +h-m
    font-size: 12px
    line-height: 12px
    color: rgba(6, 30, 71, 0.8)
    position: relative
    &::before
      content: ''
      position: absolute
      left: 0
      bottom: -2px
      height: 1px
      width: 100%
      background-color: #384B6C

  span.current_page
    +h-m
    font-size: 12px
    line-height: 12px
    color: #B4B4B4
    letter-spacing: 0.03em




